form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.divForm{
    padding: 20px;
    background-color: gray;
    border-radius: 5px;
}